<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to stdout  -->
    <target name="common_allconsoleasync" xsi:type="AsyncWrapper">
      <target xsi:type="Console" name="common_allconsole"
          layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
          WriteBuffer ="True"/>
    </target>
    
    <!-- write logs to file  -->
    <target name="common_allfileBuffered" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="File" name="common_allfile" fileName="/logs/${appdomain:format={1\}}/${shortdate}.log"
          layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
          archiveEvery="Day"
          keepFileOpen="True"
          openFileCacheTimeout="10" />
    </target>    

    <!--wiki: https://github.com/markmcdowell/NLog.Targets.ElasticSearch/wiki -->
    <target name="common_elasticBuffered" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch"
                layout="${message}"
                uri="${environment:FQELK_URI:whenempty=${configsetting:name=ConnectionStrings.ElasticSearch:default=http\://elasticsearch\:9200}"
                index="FQ-${environment:FQELK_INDEX_PREFIX:whenempty=default}-${shortdate}"
                includeAllProperties="false"
                requireAuth="true"
                username="${environment:FQELK_USERNAME:whenempty=nlog_user}"
                password="${environment:FQELK_PASSWORD:whenempty=nlog_user}"
                disableCertificateValidation="true" >
        <field name="EventLevel" layout="${level}" />
        <field name="CounterInt32" layoutType="System.Int32" layout="${counter}" />
        <field name="ExceptionString" layout="${exception:format=tostring}" />
        <field name="Class" layout="${logger}" />
        <field name="FQSessionIDVar" layout="${aspnet-item:variable:fq_sessionid}" />
        <field name="FQSessionID" layout="${aspnet-request-headers:headerNames=fq_sessionid:valuesOnly=True}" />
        <field name="ServiceApplicationName" layout="${appdomain:format={1\}}" />
        <field name="ServiceHostname" layout="${machinename}" />
        <field name="NetRequestPostBody" layout="${aspnet-request-posted-body:when=level>=LogLevel.Error}" />
      </target>
    </target>
  </targets>
  
</nlog>