<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="internal-nlog.txt">

  <include file="nlog-common.config"/>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="common_allfileBuffered" />-->
    <logger name="*" minlevel="Trace" writeTo="common_allconsoleasync" />
    <logger name="*" minlevel="Trace" writeTo="common_elasticBuffered" />
  </rules>
</nlog>